---
layout: null
---
{% include base_head.html %}

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- SITE MENU -->
{% include base_menu.html %}

<!-- SITE STUFF -->

<div class="badssitecore">
<article>
        <div id='down' class='container post'>
		<div class='body'>
		<div class='center'>

<h1>Welcome to StormWiki website!</h1>
<h1>Wow Darius! Great moves! Keep it up! Proud of you!<br>
Did you notice how cool this gradient on text is?<br>
█===============█===============█===============█</h1>
<h2>You found a maintainer base page. You won nothing though...</h2>
<b> bads.tm says :lul: </b>
		</div>
		</div>
		</div>
</article>
        <footer>
<!-- SITE COPY TEXT/ETC MODULE -->
{% include footer_copy.html %}
        </footer>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
            </div>
        </body>
</html>
