<nav id="sticky-nav-bar" class="gradient-background">
  <a href="/">
      <img src="stormwiki-logo.png" width="300px" alt="Home & About">
  </a>
  <ul class="main-navigation">
    <li class="nav-option">
          <a href="https://stormregion.github.io">Back to site</a>
      </li>
      <li class="nav-option">
          <a href="/">Home & About</a>
      </li>
  <li class="nav-option">
          <a href="/howtoinstall">Installing Mods</a>
      </li>
      <li class="nav-option">
          <a href="/gepard1/index">S.W.I.N.E.</a>
      </li>
      <li class="nav-option">
          <a href="/gepard2/index">Gepard 2</a>
      </li>
      <li class="nav-option">
          <a href="/gepard3/index">Gepard 3 (CPCW)</a>
      </li>
  </ul>
    </ul>
</nav>
